<div class="recipes-selector">
    <b-container>
        <b-row class="pt-20">

            <b-col class="col-12 col-md-3">
                <div class="recipes-selector__filters">
                    <h2>Filters</h2>
                    <div class="d-flex justify-content-between align-items-center mb-3"
                        @click="filtersCollapse.search = !filtersCollapse.search">
                        <span>Recipe title</span>
                        <b-icon-chevron-up :rotate="filtersCollapse.search ? 180 : 0"></b-icon-chevron-up>
                    </div>
                    <b-collapse id="filters-collapse-search" :visible="filtersCollapse.search">
                        <b-form-input v-model="filters.searchText" 
                            placeholder="Enter the title of recipe">
                        </b-form-input>
                    </b-collapse>
                    <hr/>

                    <div class="d-flex justify-content-between align-items-center mb-3" 
                        @click="filtersCollapse.categories = !filtersCollapse.categories">
                        <span>Categories</span>
                        <b-icon-chevron-up :rotate="filtersCollapse.categories ? 180 : 0"></b-icon-chevron-up>
                    </div>
                    <b-collapse id="filters-collapse-categories" :visible="filtersCollapse.categories">
                        <b-form-group>
                            <b-form-checkbox
                                v-model="allSelected"
                                :indeterminate="indeterminate"
                                @change="toggleAllCategories"
                                class="d-flex justify-content-start mb-2">
                                {{ allSelected ? 'Un-select All' : 'Select All' }}
                            </b-form-checkbox>
                            <b-form-checkbox
                                v-for="category in categoriesList"
                                v-model="filters.categories"
                                :key="'category-filter-' + category.id"
                                :value="category.id"
                                class="d-flex justify-content-start">
                                {{ category.title }}
                            </b-form-checkbox>
                        </b-form-group>
                    </b-collapse>
                    <hr/>

                    <div class="d-flex justify-content-between align-items-center mb-3" 
                        @click="filtersCollapse.timeToPrepare = !filtersCollapse.timeToPrepare">
                        <span>Time to prepare</span>
                        <b-icon-chevron-up :rotate="filtersCollapse.timeToPrepare ? 180 : 0"></b-icon-chevron-up>
                    </div>
                    <b-collapse id="filters-collapse-time-to-prepare" :visible="filtersCollapse.timeToPrepare">
                        <b-form-input type="range"
                            v-model="filters.timeToPrepare.value" 
                            :min="filters.timeToPrepare.min" 
                            :max="filters.timeToPrepare.max"
                            step="1">
                        </b-form-input>
                        <p><b>{{filters.timeToPrepare.value}}</b> minutes</p>
                    </b-collapse>
                    <hr/>

                    <div class="d-flex justify-content-between align-items-center mb-3" 
                        @click="filtersCollapse.difficult = !filtersCollapse.difficult">
                        <span>Difficult</span>
                        <b-icon-chevron-up :rotate="filtersCollapse.difficult ? 180 : 0"></b-icon-chevron-up>
                    </div>
                    <b-collapse id="filters-collapse-difficult" :visible="filtersCollapse.difficult">
                        <b-form-group>
                            <b-form-rating v-model="filters.difficult" 
                                show-clear>
                            </b-form-rating>
                        </b-form-group>
                    </b-collapse>
                    <hr/>

                    <div class="d-flex justify-content-between align-items-center mb-3" 
                        @click="filtersCollapse.ingredients = !filtersCollapse.ingredients">
                        <span>Ingredients</span>
                        <b-icon-chevron-up :rotate="filtersCollapse.ingredients ? 180 : 0"></b-icon-chevron-up>
                    </div>
                    <b-collapse id="filters-collapse-ingredients" :visible="filtersCollapse.ingredients">
                        <b-form-input v-model="filters.ingredients.searchText" 
                            placeholder="Enter the title of ingredient" 
                            class="mb-10">
                        </b-form-input>
                        <div style="height: 400px; overflow-y: auto;">
                            <b-form-group>
                                <b-form-checkbox
                                    v-for="(ingredient, index) of ingredientsList"
                                    v-model="filters.ingredients.selected"
                                    :key="'ingredient-filter-' + index"
                                    :value="ingredient"
                                    class="d-flex justify-content-start">
                                    {{ingredient}}
                                </b-form-checkbox>
                            </b-form-group>
                        </div>
                    </b-collapse>
                    <hr/>
                </div>
            </b-col>

            <b-col class="col-12 col-md-9">
                <b-card-group deck>
                    <b-col v-for="(recipe, index) of showRecipes.recipes" 
                        :key="`category-recipe-${recipe.id}-${index}`"
                        class="recipe position-relative col-12 col-lg-6 col-xl-4 mb-30">
                     
                        <b-card 
                            @click="openRecipePage(recipe.id)"
                            class="h-100 animated fadeInDown ml-0 mr-0"
                            :class="'delay-' + (index * 50)"
                            :title="recipe.title"
                            title-tag="h4"
                            img-top
                            img-alt="recipe.title"
                            :img-src="getFirstImage(recipe.photography, 'small')">
                            <b-card-text text-tag="div">
                                <div class="recipe__time-to-prepare">
                                    <img src="@/assets/clock-regular.svg" alt="clocs icon"/>
                                    <span>{{recipe.time_to_prepare}} minutes</span>
                                </div>

                                <div class="recipe__categories">
                                    <ul>
                                        <li v-for="category of recipe.categories" 
                                            :key="'recipe-categories-' + category.id">
                                            {{category.title}}
                                        </li>
                                    </ul>
                                </div>
                            </b-card-text>
                            <template #footer>
                                <small class="text-muted">
                                    <div class="recipe__difficult">
                                        <p>Difficult</p>
                                        <img v-for="diff of recipe.difficult" :key="'recipe-difficult-solid-' + recipe.id + '-' + diff" src="@/assets/star-solid.svg" alt="star solid"/>
                                        <img v-for="diff of (5 - (recipe.difficult || 0))" :key="'recipe-difficult-regular-' + recipe.id + '-' + diff" src="@/assets/star-regular.svg" alt="star solid"/>
                                    </div>
                                </small>
                            </template>

                        </b-card>
                    </b-col>

                        
                    </b-card-group>
                    <b-row>
                        <b-col class="col-12 d-flex justify-content-center">
                            <b-pagination
                                v-model="currentPage"
                                :total-rows="showRecipes.totalLength"
                                :per-page="recipesPerPage"
                                @change="scrollToTop"
                            ></b-pagination>
                        </b-col>
                    </b-row>
            </b-col>

        </b-row>
    </b-container>
</div>