<div class="swiper-component">
    <div v-swiper:mainPageSwiper="swiperOption">
        <div class="swiper-wrapper">
            <div class="swiper-slide" :key="'main-page-slide-' + slide.id" v-for="slide in slides">
                <picture>
                    <source v-for="(image, index) of getImageFormats(slide)" 
                        :key="`swiper-source-${slide.id}-${index}`"
                        :media="`(min-width: ${image.width}px)`" 
                        :srcset="imageHost + image.url"/>
                    <img :src="imageHost + getImageFormats(slide)[0].url" 
                        :alt="getImageFormats(slide).alternativeText || slide.text">
                </picture>
            </div>
        </div>
    </div>
</div>