<b-container fluid class="main-page">

    <SpinnerComponent v-if="showSpinner"></SpinnerComponent>

    <template v-else>
        <b-row class="mb-50">
            <b-col class="col-12 pl-0 pr-0">
                <SliderComponent :slides="slides"></SliderComponent>
            </b-col>
        </b-row>
        
        <b-row>
            <b-col class="col-12">
                <div class="recipes-selector mb-30">
                    <b-container>
                        <b-row class="pt-20">
                
                            <b-col class="col-12 col-md-4 col-lg-3">
                                <div class="recipes-selector__filters">
                                    <h2>Filters</h2>
                                    <filterByText></filterByText>
                                    <filterByCategories :categoriesList="filters.categories"></filterByCategories>
                                    <filterByTime :minTime="filters.time.min" :maxTime="filters.time.max"></filterByTime>
                                    <filterByDifficulty></filterByDifficulty>
                                    <filterByIngredients :ingredientsList="filters.ingredients"></filterByIngredients>
                                </div>
                            </b-col>
                
                            <b-col class="col-12 col-md-8 col-lg-9">
                                <b-card-group deck>
                                    <b-col v-for="(recipe, index) of recipes" 
                                        :key="`category-recipe-${recipe.id}-${index}`"
                                        class="recipe position-relative col-12 col-lg-6 col-xl-4 mb-30">

                                        <recipeCard
                                            :recipe="recipe"
                                            :animationDelay="((index % recipesPerPage) * 50) + 300"
                                        ></recipeCard>
                                    </b-col>
                                </b-card-group>

                                <InfiniteLoading :identifier="infiniteId" @infinite="infiniteHandler" spinner="spiral">
                                    <div slot="no-more">That's all!</div>
                                </InfiniteLoading>
                                    
                            </b-col>
                        </b-row>
                    </b-container>
                </div>
            </b-col>
        </b-row>
    </template>
</b-container>
